html {
  margin: 0;
  padding: 0;
}
header,
footer,
form,
nav {
  position: unset;
  margin-bottom: 1em;
}
nav {
  padding-bottom: 0.5em;
  border-bottom: magenta solid 1px;
}
form {
  border-top: none;
}

.ingtable {
  width: 100%;
}
.inst {
  margin-right: 0.5em;
  box-sizing: border-box;
}
.ingtable:before,
.inst:before {
  color: cyan;
  font-style: italic;
  display: block;
  padding-bottom: 1em;
}
.ingtable:before {
  content: "Ingredients";
}
.inst:before {
  content: "Instructions";
}
.ingtable tr td {
  padding: 5px 10px;
}

main a {
  color: white;
  text-decoration: none;
  width: 100%;
  display: inline-block;
  padding: 0.5em 1em;
  box-sizing: border-box;
}
main ul {
  margin: 0;
  padding: 0;
  max-height: 60vh;

  text-align: center;
}
main ul li {
  list-style: none;

  display: block;
  background-color: rgba(40, 0, 40, 0.7);
  margin-bottom: 2px;
}
nav a,
nav a:visited {
  color: magenta;
  text-decoration: none;
  padding: 0.5em 2em;
}

nav a:hover,
nav a:active > main ul li {
  text-decoration: underline;
}
main ul li:hover {
  background-color: rgba(80, 0, 80, 0.7);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(155, 61, 61, 0);
  color: white;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
h1 {
  margin-top: 2em;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.App {
  height: 100vh;
  text-align: center;
  padding-top: 3em;
  box-sizing: border-box;
}
main {
  max-height: 50vh;
  overflow: auto;
}
.Container {
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin-top: 1em;
  text-align: left;
  padding: 0em 2em;
  min-width: 400px;
  max-width: 600px;
  width: 100%;
}

header {
  margin: auto;
  width: 50%;
  background-size: contain;
  background-position: center;
  min-height: 150px;
  min-width: 400px;
}
form {
  margin-top: 1em;
  padding: 1em;
  max-width: 400px;
  margin: 0 auto;
}
form input[type="text"] {
  border: 1px solid cyan;
  background-color: rgba(0, 57, 83, 0.5);
  height: 2.5em;
  margin: 2% 2% 0% 0%;
  padding: 5px;
  width: 70%;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
}
form input[type="submit"] {
  border: 1px solid rgb(0, 204, 231);
  background-color: rgb(1, 155, 155);
  height: 2.5em;
  margin: 4px 10px 0px 0px;

  width: 20%;
  border-radius: 4px;
  cursor: pointer;
}
form input[type="submit"]:hover {
  background-color: cyan;
}
.drinkImg {
  display: block;
  margin: 0 auto;
}
main h2 {
  text-align: center;
}
main figure {
  margin: 0;
}
main figure figcaption {
  font-style: italic;
  color: grey;
}
.content {
  padding: 1em;
  box-sizing: border-box;
  max-width: 600px;
  margin: 0 auto;
}

footer {
  text-align: center;
  color: grey;
}
.glassImg {
  max-width: 50px;
  height: auto;
}
.drinkinfo {
  text-align: center;
  margin-bottom: 0.5em;
}
.drinkinfo p,
figure {
  display: inline-block;
  padding: 0px 5px;
}
@media only screen and (max-width: 600px) {
  .App {
    max-height: 100vh;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: fixed;
  }
  header {
    width: 100%;
    height: 10vh;
    min-height: 10vh;
    min-width: unset;
    position: fixed;
    margin-top: 0;
    background-color: black;
    background-size: contain;
    box-sizing: border-box;
  }
  .Container {
    width: 100%;
    height: 90vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-top: 10vh;
    min-width: unset;
  }
  main {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20vh;
    margin-top: 0vh;
    max-height: 60vh;
  }
  .content {
    margin-bottom: 20vh;
  }
  .drinklist {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  footer {
    width: 100%;
    position: fixed;
    height: 25px;
    padding-top: 5px;
    bottom: -15px;
    background-color: black;
  }
  form {
    background-color: black;
    width: 100%;
    max-width: unset;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    height: auto;
    position: fixed;
    margin-top: 0;
    bottom: 25px;
    padding: 0.4em 0;
    z-index: 999;
    border-top: magenta 1px solid;
  }
  form input[type="text"] {
    box-sizing: border-box;
    display: inline-block;
    width: 70%;
    height: 3em;
    margin: 0em 0.5em 0.5em 0.5em;
  }

  form input[type="submit"] {
    width: 20%;
    height: 3em;
    display: inline-block;
  }
  nav {
    text-align: center;
    line-height: 2em;
    background-color: black;
    border-top: magenta 1px solid;
    width: 100%;
    position: fixed;
    bottom: 70px;
    left: 0;
  }
  nav a {
    display: inline-block;
    padding: 0.2em 2em 0em 2em;
  }
}
